body {
  margin: auto;
  background-color: aliceblue;
  line-height: 1.5em;
}

#navbar {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 20%;
  border-right: 5px solid gray;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Libre Franklin', sans-serif;
}

#navbar header {
  margin: 0%;
  border-bottom: 1px solid black;
}

#navbar header p {
  font-size: 20px;
  text-align: justify;
  font-weight: bold; 
  padding: 5% 0% 5% 15%;
}

#navbar section {
  margin: 0%;
}

#navbar section a {
  display: block;
  padding: 5% 5% 5% 15%; 
  text-align: justify;
  text-decoration: none;
  color: black;
  font-size: 15px;
  border-bottom: 1px solid black;
  transition: 0.5s;
}

#navbar section a:hover {
  color: gray;
}

#main-doc {
  margin: 0% 0% 0% 20%;
  padding: 1%;
  font-family: 'Libre Franklin', sans-serif;
}

#main-doc .main-section {
  margin: 0% 0% 0% 0%;
  padding: 2% 3% 2% 3%;
  text-align: justify;
}

#main-doc .main-section header {
  margin: 0%;
  padding: 1% 0% 2% 0%;
  font-size: 20px;
  text-align: justify;
  font-weight: bold; 
}

#main-doc .main-section article p {
  margin: 0%;
  padding: 1% 0% 1% 0%;
  font-size: 15px;
  text-align: justify; 
}

#main-doc .main-section article ul {
  margin: 1% 0% 1% 0%;
  padding: 0% 0% 0% 2%;
}

#main-doc .main-section article li {
  margin: 0%;
  padding: 1% 0% 1% 0%;
  font-size: 15px;
  text-align: justify; 
}

#main-doc .main-section article code {
  display: block;
  margin: 0% 2% 0% 2%;
  padding-right: 5%;
  white-space: pre;
  font-size: 15px;
  text-align: justify;
  line-height: 2;
  background-color: gainsboro;
  border-radius: 10px;
}

footer {
  margin: auto;
  text-align: center;
  font-family: 'Nova Flat', cursive;
}

footer p {
  font-size: 18px;
}

footer p a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  #navbar {position: absolute; top: 0%; height: 200px; width: 100%; border-bottom: 3px solid gray;}
  #navbar header p {font-size: 15px; padding: 1% 0% 1% 15%;}
  #navbar section a {padding: 1% 5% 1% 15%; font-size: 12px;}
  #main-doc {margin: 220px 0px 0px 0px;}
  #main-doc .main-section {margin-top: 1%; padding: 1% 2% 1% 2%;}
  #main-doc .main-section header {font-size: 14px;}
  #main-doc .main-section article p {font-size: 12px;}
  #main-doc .main-section article ul {padding: 0% 0% 0% 5%;}
  #main-doc .main-section article li {font-size: 12px;}
  #main-doc .main-section article code {margin: 0% 2% 0% 2%; font-size: 12px; line-height: 1.5; overflow-x: auto;}
  footer p {font-size: 14px;}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #navbar {width: 30%;}
  #navbar header p {font-size: 16px; padding: 1% 0% 1% 15%;}
  #navbar section a {padding: 1% 5% 1% 15%; font-size: 14px;}
  #main-doc {margin: 0% 0% 0% 30%;}
  #main-doc .main-section {margin-top: 1%;}
  #main-doc .main-section header {font-size: 15px;}
  #main-doc .main-section article p {font-size: 14px;}
  #main-doc .main-section article ul {padding: 0% 0% 0% 5%;}
  #main-doc .main-section article li {font-size: 14px;}
  #main-doc .main-section article code {margin: 0% 2% 0% 2%; font-size: 14px; line-height: 1.5; overflow-x: auto;}
  footer p {font-size: 15px;}
}
